@font-face {
  font-family: "iransans";
  src: url(./fonts/iransansweb.woff2) format("woff2");
}
@font-face {
  font-family: "iransanslight";
  src: url(./fonts/iransansweblight.woff2) format("woff2");
}

//  -------------------------------> Variables

:root {
  // color
  --text-color: #212121;
  --purple: #794387;
  --light-purple: #f7f4f8;
}

html {
  scroll-behavior: smooth;
}
* {
  font-family: "iransans";
  color: var(--text-color);
  font-size: 1rem;
}
// ---------------------------------> Navbar

.nav {
  &-logo {
    width: 110px;
    z-index: 999;

    img {
      width: 100%;
    }
  }

  &-item {
    a {
      margin-right: 34px;

      transition: all 0.4s;
      &:hover:not(.active-menu) {
        color: var(--purple);
      }
    }
  }
}
.active-menu {
  color: var(--purple) !important;
}
// ---------------------------------> download section

.download {
  padding-top: 5rem;
  text-align: center;
  width: 100%;
  height: 100vh;
  &-title {
    font-size: 1.375rem;
  }
  &-items {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &-btns {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-btn {
    margin: 1rem 0.5rem;
    border: 1px solid var(--purple);
    border-radius: 4px;
    padding: 0.8rem 0.9rem;
    color: var(--purple);
    text-decoration: none;
    font-size: 0.875rem;
  }
}
// ---------------------------------> Service section
.service {
  &-items {
    text-align: center;
  }
  &-icon {
    color: var(--purple);
    font-size: 1.8rem;
  }
  &-title {
    color: var(--purple);
    margin-top: 1.2rem;
  }
  &-text {
    max-width: 360px;
    margin: auto;
    text-align: center;
    color: var(--text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 2.5rem;
  }
}
// ----------------------------------> Video Section

.video {
  background-color: var(--light-purple);
  padding-top: 5rem;
  padding-bottom: 5rem;
  &-icon {
    color: var(--purple);
    font-size: 1.5rem;
  }
  &-title {
    color: var(--text-color);
    font-size: 1.3rem;
    padding-right: 1rem;
  }
  &-decription {
    margin-top: 2rem;
    font-family: "iransanslight", sans-serif;
    font-weight: bold;
    margin-right: 3rem;
  }
  &-cards {
    display: flex;
    flex-wrap: nowrap;
  }
  &-card {
    width: 190px;
    height: 275px;
    background-color: #fff;
    padding: 0.6rem;
    border-radius: 15px;
    box-shadow: 15px 15px 30px 0 rgba(0, 0, 0, 0.16);
    &-image {
      width: 100%;
      height: 100%;
      border-radius: 15px;
    }
  }
}
// ---------------------------------> Moor Section
.moor {
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
  &-topic {
    text-align: center;
  }
  &-cards {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 2rem;
  }
  &-card {
    width: 170px;
    height: 170px;
    margin: 0 0.7rem;
    border-radius: 15px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.16);

    &-image {
    }
    &-text {
    }
  }
}
// ---------------------------------> Blog Section
.blog {
  padding-top: 2rem;
  padding-bottom: 2rem;
  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    & a {
      text-decoration: none;
      color: var(--text-color);
      font-size: 1rem;
    }
    & h6 {
      font-size: 1.2rem;
    }
  }
  &-cards {
    margin-top: 2rem;
    display: flex;
    align-items: center;
  }
  &-card {
    &-title {
      text-decoration: none !important;
      color: var(--text-color);
    }
    &-text {
      margin-top: 0.7rem;
      font-family: "iransanslight", sans-serif !important;
    }
  }
}
// ---------------------------------> cj Section
.cj {
  background-image: url(./../images/bg-cj.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 3rem;
  &-title {
    font-family: "iransanslight", sans-serif;
    font-weight: bolder;
    font-size: larger;
  }
  &-text {
    margin-top: 1.5rem;
    font-family: "iransanslight", sans-serif;
    font-weight: bold;
  }
  &-btn {
    margin-top: 3rem;
    border: 1px solid var(--purple);
    border-radius: 4px;
    padding: 0.8rem 0.9rem;
    color: var(--purple);
    text-decoration: none;
    font-size: 0.875rem;
  }
  // &-img{}
}
// ---------------------------------> news Section
.news {
  background-image: linear-gradient(95deg, #794387 40%, #af1b74 100%);
  padding-top: 1rem;
  padding-bottom: 1rem;
  &-text {
    color: #fff;
    margin: 0;
    padding: 0;
    margin-left: 1rem;
  }
  &-input {
    width: unset;
    border: 1px solid var(--purple);
    border-radius: 0px 6px 6px 0px;
    outline: none;
    border-color: var(--purple);
    padding: 8px 3px;
    width: 270px;
  }
  &-btn {
    color: var(--purple);
    font-family: "iransanslight";
    font-weight: 600;
    border: 1px solid var(--purple);
    border-radius: 6px 0px 0px 6px;
    background-color: #fff;
  }
}
// ---------------------------------> footer Section

.footer{
  background-color: #fff;
  padding-top: 2rem;

  &-lists{
    display: flex;
    justify-content: space-around;
  }


  &-copyright {
    text-align: center;
    background-color: #f5f5f5;
    border: 1px solid #e0e0e0;
    padding-top: 0.875rem;
    padding-bottom: 0.875rem;
    font-family: 'iransanslight';
  }
}

// --------------------------> Breakpoints

@media (max-width: 510px) {
  .download-btns {
    flex-direction: column;
  }
}
