@font-face {
  font-family: "iransans";
  src: url(./fonts/iransansweb.woff2) format("woff2");
}
@font-face {
  font-family: "iransanslight";
  src: url(./fonts/iransansweblight.woff2) format("woff2");
}
:root {
  --text-color: #212121;
  --purple: #794387;
  --light-purple: #f7f4f8;
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: "iransans";
  color: var(--text-color);
  font-size: 1rem;
}

.nav-logo {
  width: 110px;
  z-index: 999;
}
.nav-logo img {
  width: 100%;
}
.nav-item a {
  margin-right: 34px;
  transition: all 0.4s;
}
.nav-item a:hover:not(.active-menu) {
  color: var(--purple);
}

.active-menu {
  color: var(--purple) !important;
}

.download {
  padding-top: 5rem;
  text-align: center;
  width: 100%;
  height: 100vh;
}
.download-title {
  font-size: 1.375rem;
}
.download-items {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.download-btns {
  display: flex;
  align-items: center;
  justify-content: center;
}
.download-btn {
  margin: 1rem 0.5rem;
  border: 1px solid var(--purple);
  border-radius: 4px;
  padding: 0.8rem 0.9rem;
  color: var(--purple);
  text-decoration: none;
  font-size: 0.875rem;
}

.service-items {
  text-align: center;
}
.service-icon {
  color: var(--purple);
  font-size: 1.8rem;
}
.service-title {
  color: var(--purple);
  margin-top: 1.2rem;
}
.service-text {
  max-width: 360px;
  margin: auto;
  text-align: center;
  color: var(--text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 2.5rem;
}

.video {
  background-color: var(--light-purple);
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.video-icon {
  color: var(--purple);
  font-size: 1.5rem;
}
.video-title {
  color: var(--text-color);
  font-size: 1.3rem;
  padding-right: 1rem;
}
.video-decription {
  margin-top: 2rem;
  font-family: "iransanslight", sans-serif;
  font-weight: bold;
  margin-right: 3rem;
}
.video-cards {
  display: flex;
  flex-wrap: nowrap;
}
.video-card {
  width: 190px;
  height: 275px;
  background-color: #fff;
  padding: 0.6rem;
  border-radius: 15px;
  box-shadow: 15px 15px 30px 0 rgba(0, 0, 0, 0.16);
}
.video-card-image {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.moor {
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
}
.moor-topic {
  text-align: center;
}
.moor-cards {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 2rem;
}
.moor-card {
  width: 170px;
  height: 170px;
  margin: 0 0.7rem;
  border-radius: 15px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.16);
}
.blog {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.blog-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}
.blog-header a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1rem;
}
.blog-header h6 {
  font-size: 1.2rem;
}
.blog-cards {
  margin-top: 2rem;
  display: flex;
  align-items: center;
}
.blog-card-title {
  text-decoration: none !important;
  color: var(--text-color);
}
.blog-card-text {
  margin-top: 0.7rem;
  font-family: "iransanslight", sans-serif !important;
}

@media (max-width: 510px) {
  .download-btns {
    flex-direction: column;
  }
}

/*# sourceMappingURL=main-style.css.map */
